<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuai.mapper.ChatRecordMapper">

    <select id="getChatRecordById" resultType="com.shuai.pojo.po.ChatRecord">
        SELECT * FROM chat_record
            WHERE sender_id = #{id}
            OR receiver_id = #{id}
            ORDER BY send_time ASC
    </select>



</mapper>