<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuai.mapper.CommentLikeMapper">

    <delete id="deleteByPostId" >
        DELETE FROM comment_like cl
            WHERE cl.comment_id
                      IN (SELECT c.id FROM `comment` c WHERE c.post_id = #{postId})
    </delete>

    <delete id="deleteByCommentId" >
        DELETE FROM comment_like cl
        WHERE cl.comment_id
                  IN (SELECT c.id FROM `comment` c WHERE c.parent_id = #{commentId} or c.id = #{commentId})
    </delete>

</mapper>